.card{
    background-color: white;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border-radius: 0.5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

.card__p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;

}

.card__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}